* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
}

body {
	background-color: lightblue;
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0;
}

li {
  margin: 5px;
  padding: 10px;
	text-transform: capitalize;
}

li:hover {
	background-color: lightgrey;
}

#listContainer {
	background-color: white;
	padding: 10px;
	width: 350px;
  list-style: none;
}