* {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
}

body {
	background-color: lightblue;
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0;
}

p {
	text-transform: capitalize;
}

p:hover {
	background-color: lightgrey;
}

#mainDiv {
	background-color: white;
	padding: 10px;
	width: 250px;
}